<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @entry.exercise %>
</p>

<p>
  <strong>Pounds:</strong>
  <%= @entry.pounds %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @entry.reps %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
