<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @measurement.position %>
</p>

<p>
  <strong>Inches:</strong>
  <%= @measurement.inches %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
